@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>سیستم نوبت دهی</h1>
    <p class="lead">به وبسایت خودتان خوش آمدید. امیدواریم همیشه سلامت باشید اما اگر وقت ویزیت نیاز دارید ما همراه شما خواهیم بود</p>
    <p><a href="#" class="btn btn-primary btn-lg">بیشتر بدانید &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>رزرو وقت ویزیت</h2>
        <p>
            در اینجا شما میتوانید مرکز درمانی، تخصص، پزشک و بازه زمانی مورد نظرتان را جستجو و رزرو کنید
        </p>
        <p>
      @Html.ActionLink("شروع »", "Index","VisitSearch",null,new { @class= "btn btn-default" })
    </div>
    <div class="col-md-4">
        <h2>عضویت</h2>
        <p>برای پشتیبانی هرچه بهتر از شما نیاز است تا در سامانه عضو شوید</p>
        <p>
          @Html.ActionLink("عضویت »", "Register", "Account", new { area = "" }, htmlAttributes: new { id = "registerLink", @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>پیگیری نوبت</h2>
        <p>چنانچه نوبتی رزرو کردید اینجا میتوانید آن را مدیریت کنید</p>
        <p><a class="btn btn-default" href="#">پیگیری &raquo;</a></p>
    </div>
</div>